/* body {
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.navbar-brand i {
  margin-right: 10px;
} */

/* 
body {
  background-color: #f8f9fa;
}

.navbar {
  margin-bottom: 20px;
}

.container {
  padding-top: 20px;
}

.card {
  margin-bottom: 20px;
}

.main-form-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacts-container, .history-container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: red;
} */


body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 20px;
}

.row {
  margin-bottom: 20px;
}

.bg-opacity-50 {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

h4, h5 {
  margin-bottom: 20px;
}

.btn-outline-dark, .btn-outline-danger, .btn-outline-secondary, .btn-outline-success {
  margin: 5px;
}

.card {
  margin-bottom: 20px;
}
