

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #181818;
  color: #ffffff;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.bg-dark {
  background-color: #343a40 !important;
}

.navbar-light .navbar-brand {
  color: #000000;
}

.navbar-dark .navbar-brand {
  color: #ffffff;
  
}

.card.bg-light {
  background-color: #ffffff;
  
}

.card.bg-dark {
  background-color: #343a40;
  color: #ffffff;
}

.btn-outline-light {
  border-color: #ffffff;
  color: #ffffff;
}

.btn-outline-light:hover {
  background-color: #ffffff;
  color: #000000;
}
